/* debug region*/
.debug * {
    border: 1px dashed;
}

.debug [class^="col-"] {
    min-height: 300px;
}
/* end-debug region */

/* common region */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(236, 236, 236);
}

header {
    font-family: 'Nerko One', cursive;
}

main {
    font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
}

ul>li {
    text-decoration: none;
}

.logo {
    color: var(--giallo-booleano-primary);
}

.title {
    color: var(--giallo-booleano-secondary-dark);
}

.section-logo {
    background-color: var(--giallo-booleano-light);
}

.row {
    background-color: var(--giallo-booleano-light);
}
/* end-common region */

/* utility region*/
:root {
    --giallo-booleano-primary: #ff9614;
    --giallo-booleano-secondary-dark: #4e3969;
    --giallo-booleano-secondary-light: #7c69a4;
    --giallo-booleano-dark: #000000;
    --giallo-booleano-light: #ffffff;
    --giallo-booleano-grey: #aaaaaa;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.youtube {
    width: 100%;
}

.padding {
    padding: 1rem;
}
/* end-utility region */


/* mobile first */
/* mobile first */
/* mobile first */
@media screen and (min-width: 320px) {
    /* utility */
    .col-1 {
        width: calc((100% / 12) * 1);
    }
    
    .col-2 {
        width: calc((100% / 12) * 2);
    }
    
    .col-3 {
        width: calc((100% / 12) * 3);
    }
    
    .col-4 {
        width: calc((100% / 12) * 4);
    }
    
    .col-5 {
        width: calc((100% / 12) * 5);
    }
    
    .col-6 {
        width: 50%;
    }
    
    .col-7 {
        width: calc((100% / 12) * 7);
    }
    
    .col-8 {
        width: calc((100% / 12) * 8);
    }
    
    .col-9 {
        width: calc((100% / 12) * 9);
    }
    
    .col-10 {
        width: calc((100% / 12) * 10);
    }
    
    .col-11 {
        width: calc((100% / 12) * 11);
    }
    
    .col-12 {
        width: 100%;
    }
    /* end-utility */
     /* header */
.section-logo {
    display: flex;
    justify-content: center;
}

.logo {
    justify-content: center;
}
    /* end-header */
    /* main */
    /* section video */
.title {
    margin-bottom: 5px;
}

.category {
    font-size: 12px;
    margin-bottom: 5px;
}

div .info>h3 {
    margin-bottom: 10px;
}

.traditional {
    display: none;
}
    /* end-section video */
    /* end-main */
}


/* media query */
/* media query */
/* media query */

/* query tablet */
@media screen and (min-width: 768px) {
    .col-1-tb {
        width: calc((100% / 12) * 1);
    }
    
    .col-2-tb {
        width: calc((100% / 12) * 2);
    }
    
    .col-3-tb {
        width: calc((100% / 12) * 3);
    }
    
    .col-4-tb {
        width: calc((100% / 12) * 4);
    }
    
    .col-5-tb {
        width: calc((100% / 12) * 5);
    }
    
    .col-6-tb {
        width: 50%;
    }
    
    .col-7-tb {
        width: calc((100% / 12) * 7);
    }
    
    .col-8-tb {
        width: calc((100% / 12) * 8);
    }
    
    .col-9-tb {
        width: calc((100% / 12) * 9);
    }
    
    .col-10-tb {
        width: calc((100% / 12) * 10);
    }
    
    .col-11-tb {
        width: calc((100% / 12) * 11);
    }
    
    .col-12-tb {
        width: 100%;
    }
    /* end-utility */
     /* header */
.section-logo {
    display: flex;
    justify-content: center;
}

.logo {
    justify-content: center;
}
    /* end-header */
    /* main */
.title {
    margin-bottom: 5px;
}

.category {
    font-size: 12px;
    margin-bottom: 5px;
}

div .info>h3 {
    margin-bottom: 10px;
}
}
/* end-section video */
    /* end-main */
/* end-query tablet */

/* query desktop */
/* end-query desktop */